html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

ul, ol {
    all: unset;
    list-style: none;
}

a {
    text-decoration: none;
}

a, a:hover, a:active {
    color: currentColor;
}